#avaliacaoclientes {
    margin: auto;
    height: 400px;
    max-width: 1200px;
    
}
#avaliacaoclientes > h1 {
    text-align: center;
    font-size: 1.7rem;
    font-family: var(--padrao);
}

.all {
    height: 500px;
}
.avaliacao {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    width: 150px;
    
}

.containerpessoas {
    height: 400px;
}

.fotosavaliacoes {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.containerimgs > img{
    display: block;
    margin: 10px auto;
}
.estrela {
    display: block;
    margin: 20px auto;
    width: 120px;

}

.descricaocliente {
    width: 170px;
    margin: auto;
}

.descricaocliente > h1 {
    font-family: var(--padrao);
    font-size:1.2rem;
}

.descricaocliente > p {
    font-size: 1.2rem;
}