#banner {
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.349);
    background-blend-mode: color;
    background-image: url('../../../../images/pages/index/pizzabanner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 170px;
    border-radius: 0px 0px 10px 10px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 1280px;
    

   
   
}
#bannerall {
    margin: 0 20px;
}
#containerbanner{
    margin: 0px 0px 0px 10px;
}

#banner h1 {
    font-size: 1.6rem;
    line-height: 35px;
    font-family: var(--padrao);
}

#banner a {
    font-size: 0.9rem;
    background-color: red;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 70px;
    color: white;
    text-decoration: none;
    font-family: var(--padrao);
    
}
