footer {
    margin-top: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: darkred;
    padding: 20px;

}
#redesociais {
}

#redesociais > h1{
    text-align: center;
   
}

#iconsmidias {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

#iconsmidias > img {
    margin: 5px;
    cursor: pointer;
}