#comoadotar {
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
#comoadotar > h1 {
    text-align: center;
    margin-bottom: 25px;
}
#todososcards {
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
    padding: 5px;
    
}
/*#e1cc8f25*/
.cardadotar {
    background-color: #e1cc8f16;
    padding: 5px;
    border: 0px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.318);

}

.cardadotar > img{ 
    display: block;
    margin: 0px auto 10px auto;
}

.cardadotar > h1 {
    font-size: 1.1em;
    margin-bottom: 5px;
    
}

.cardadotar > p {
    text-align: justify;
}
