footer {
    background-color: var(--blue);
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

section#midias {
    margin-top: 20px;
}
section#midias > h1 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}
section#iconmidias {
    display: flex;
    justify-content: space-around;
}
section#iconmidias > img {
    cursor: pointer;
}