nav {
    background-color: var(--blue);
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    width: 100%;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.415);
}



nav > ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--blue);
    list-style: none;
    height: 50vh;
    padding: 10px;
    color: white;
    width: 50vw;
    display: none;
    animation: aparecer1 0.8s ;
    
}
nav > ul > li {
    border: 1px solid white;
    margin-top: 5px;
    background-color: var(--orange);
    border-radius: 3px;
    padding: 5px;
   
}

nav > ul > li:hover {
    background-color: white;
    color: var(--orange);
    border-color: var(--orange);
    transition: .6s;
    cursor: pointer;
}

@keyframes aparecer1 {
    from {
        width: 0;
    }
    to {
        width: 50vw;
    }
}

#logoapipa {
    width: 100px;
    height: 71px;
}

#menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    animation: aparecer 0.6s;
}

@keyframes aparecer {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 40px;
        height: 40px;
    }
}


.botaoadote{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--orange);
    color: white;
    text-decoration: none;
    
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    width: 120px;
    height: 35px;
    


    text-align: center;
    
}

.botaoadote:hover {
    background-color: white;
    border-color: var(--orange);
    color: orange;
    transition: .7s;
}