section#adotadores {
    padding: 10px;
}

section#adotadores > h1 {
    text-align: center;
    margin-bottom: 10px;
}

.cardadotadores {
    background-color: var(--blue);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.408);
}

.cardadotadores > img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: center top;
    display: block;
    margin:0px auto 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.482);
    
} 

.cardadotadores > main > h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--orange);
   
}
.cardadotadores > main >p {
   
    text-align: justify;
    text-indent: 10px;
}
